header{
    width:100%; 
    background:#a089aea6; 
    height:60px; 
    line-height:60px;
    border-bottom:1px solid #c077c1a7;
}
.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:rgb(15, 11, 11);
    border:0;
    font-size:2em;
    font-weight:bold;
    cursor:pointer;
    /* outline:none; */
    z-index:10000000000000;
}
.cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:7px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:4em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    /* outline:none; */
    z-index:10000000000000;
}
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
  .menu ul li a:hover {  color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:#666;}
  .menu a:hover{text-decoration:none; color:#666;}
  

header{
    display:inline-block; 
    font-size:12px;
}
span{
    padding-left:20px;
}
a{
    color:#336699;
}

/* ================================= the body of the resume ========================== */

h1{
    text-align: center;
    background-color: rgba(255, 182, 193, 0.275);
    letter-spacing: 2px;
}

.contact {
    text-align: center;
    font-weight: 100;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.experience > h2{
    text-align: center;
    background-color: rgba(255, 182, 193, 0.235);
}

.education > h2{
    text-align: center;
    background-color: rgba(255, 182, 193, 0.235);
}

.interests > h2{
    text-align: center;
    background-color: rgba(255, 182, 193, 0.235);
}
h2{
    margin-top: 35px;
    
}
h4{
    margin-top: 50px;
    margin-bottom: 1px;
    font-size: 1.3rem;
}

h5{
    margin-top: 11px;
    margin-bottom: 1px;
    font-size: 1em;
    font-weight: 500;
}

h6{
    margin-top: 1px;
    font-weight: lighter;
    font-size: 0.8em;
    color: grey;

}

.intro{
    text-align:center;
    word-spacing: 1px;
}