body{
    background-image: url(images/v748-toon-103.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* color: white; */
    /* background-color: rgb(32, 29, 29); */
    letter-spacing: 0.8px;
    margin: 0;
    font-size: 15px;
}

header{
    width:100%; 
    background:#292626a7; 
    height:50px; 
    line-height:60px;
    border-bottom:1px solid #b4ab99e0;
}

header span{
    color: white;
    letter-spacing: 2px;
    word-spacing: 3px;
    
}
.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#b4ab99e0;
    border:0;
    font-size:2.5em;
    font-weight:bold;
    cursor:pointer;
    /* outline:none; */
    z-index:10000000000000;
}
.cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:7px 15px 0px 15px;
    color:rgb(106, 94, 94);
    border:0;
    font-size:4em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    /* outline:none; */
    z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; letter-spacing: 1px; width:100%; background:#b8b8aaf0;  position:absolute; text-align:center; font-size:15px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:rgba(255, 255, 255, 0.605) 0.4px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:rgb(6, 5, 5);}
.menu a:hover{text-decoration:none; color:#666;}
  

header{
    display:inline-block; 
    font-size:12px;
}
span{
    padding-left:20px;
}
a{
    color:#336699;
}
/* -------------------- icon bar ---------------- */
.icon-bar{
    position:fixed;
    top:50%;
    /* -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); */
    transform: translateY(-50%);
    right: 2px;
   
    
}

.icon-bar a{
    display:block;
    text-align: center;
    padding:0.8rem;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
    opacity: 0.7;
}

.icon-bar a:hover{
    background-color: rgb(0, 0, 0);
}

/* .facebook {
    background-color: #3b5998;
    
} */

.twitter {
    background-color: #1da1f2;
}

.linkedin{
    background-color: #0077b5;
}

.youtube{
    background-color: #ff0000;
}

.instagram{
    background-color: #3f729b;
}

.github{
    background-color: #25292e;
}

/* ================================ MODAL FOR ABOUT ME======================= */
#modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    /*This puts our modal in front of the body (which has a default z-index setting of `0`*/
    overflow: auto;
    /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none;
}
#modal-content {
    background-color: rgba(255, 255, 255, 0.984);
    height: 350px;
    width: 550px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 2%;
	line-height: 120%;

}

#close{
    background-color: rgb(34, 31, 31);
    box-shadow: 1px black;
    border-radius: 8px;
    border-style:ridge;
    border-radius: 6px;
    color: rgb(248, 244, 248);
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 0.3em; 
}

#close:hover{
    background-color: #50505e61;

}

h7 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
    font-size: 1.2em;
    font-style: italic;
    
}

/* ================================= the body of the resume ========================== */

h1{
    text-align: center;
    background-color: rgba(129, 122, 110, 0.110);
    letter-spacing: 2px;
    font-size: 1.9rem;
    color: #871111;
}

.contact {
    text-align: center;
    font-weight: 100;
    word-spacing: 10px;
    letter-spacing: 2px;
    text-decoration: none;
}
.experience, .education, .interests {
    margin-left: 4px;
}
.experience > h2{
    text-align: center;
    background-color: rgba(129, 122, 110, 0.110);
    font-size: 1rem;
}

.education > h2{
    text-align: center;
    background-color: rgba(129, 122, 110, 0.110);
    font-size: 1rem;
}

.interests > h2{
    text-align: center;
    background-color: rgba(129, 122, 110, 0.110);
    font-size: 1rem;
}
h2{
    margin-top: 35px;
    
}
h4{
    margin-top: 50px;
    margin-bottom: 1px;
    font-size: 1.3rem;
    text-decoration:underline;
}
h4.school{
    margin-top: 3px;
    margin-bottom: 1px;
}

h5{
    margin-top: 11px;
    margin-bottom: 1px;
    font-size: 1em;
    font-weight: 500;
}

h6{
    margin-top: 1px;
    font-weight: lighter;
    font-size: 0.8em;
    color: grey;

}

.intro{
    text-align:center;
    word-spacing: 1px;
    letter-spacing: 0.8px;
}


@media only screen and (max-width: 600px){
    #modal-content{
        width: 90%;
        height: 63%;
        
    }
}

