@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

/* ===================================== INDEX.HTML page ================================ */

body{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    width:100%;
    height:100vh;
    background:#ffffff;
    background-image: url(images/galaxy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
header{
    width:100%; 
    background:#292626a7; 
    height:50px; 
    line-height:60px;
    border-bottom:1px solid #b4ab99e0;
}
header span{
    color: white;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#b4ab99e0;
    border:0;
    font-size:2.5em;
    font-weight:bold;
    cursor:pointer;
    /* outline:none; */
    z-index:10000000000000;
}
.cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:7px 15px 0px 15px;
    color:rgb(106, 94, 94);
    border:0;
    font-size:4em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    /* outline:none; */
    z-index:10000000000000;
}
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#e6e2e7;  position:absolute; text-align:center; font-size:15px;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#c2b099 0.5px solid;}
  .menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
  .menu ul li a:hover {  color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:#666;}
  .menu a:hover{text-decoration:none; color:#666;}
  

header{
    display:inline-block; 
    font-size:12px;
}
span{
    padding-left:20px;
}
a{
    color:#336699;
}
.pictures{
    display:flex;
    /* justify-content: center;
    align-items: center; */
    width: 150px;
    height:150px;
}
img {
    /* width: 40%;
    height: 50%; */
    border-radius: 80%;
    border-image-width: 10px;
    border-style: dotted;
    border-color: #000000;
    flex-direction: initial;
}

.introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Lobster Two', cursive;;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

p{
    font-size: 1em;
    text-align: center;
    margin-right: 1.3em;
    margin-top: 1.3em;

}

#button{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 3em;
}

.contact {
    padding: 0.5em;
    border-radius: 8px;
    background-color: #f5ebeb;
}
a{
    text-decoration: none;
    color: #000000;
}
/* ----- ANIMATION ----- */

.animation {
    position:relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100hv;
    overflow: hidden;
}

.pulse {
    z-index: -1;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30rem;
}

.pulse circle {
    fill: #ff5154;
    transform: scale(0);
    opacity: 0;
    transform-origin: 50% 50%;
    animation: pulse 4s cubic-bezier(.5,.5,0,1);

}

circle:nth-child(2) {
    fill: #7fc6a4;
    animation: pulse 4s 1s cubic-bezier(.5,.5,0,1);
}

circle:nth-child(3) {
    fill: #e5f77d;
    animation: pulse 4s 1.75s cubic-bezier(.5,.5,0,1);
}

@keyframes pulse {
	
	25% {
		opacity: 0.4;
	}
	
	100% {
		transform: scale(1);
	}
	
}
/* ---- icon bar ----- */
.icon-bar{
    position:fixed;
    top:50%;
    /* -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); */
    transform: translateY(-50%);
}

.icon-bar a{
    display:block;
    text-align: center;
    padding:0.5rem;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

/* .facebook {
    background-color: #3b5998;
    
} */

.twitter {
    background-color: #1da1f2;
}

.linkedin{
    background-color: #0077b5;
}

.youtube{
    background-color: #ff0000;
}

.instagram{
    background-color: #3f729b;
}

.github{
    background-color: #25292e;
}
/* =================================== MODAL ================================ */

#modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    /*This puts our modal in front of the body (which has a default z-index setting of `0`*/
    overflow: auto;
    /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: none;
}
#modal-content {
    background-color: rgba(255, 255, 255, 0.894);
    height: 350px;
    width: 550px;
    border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    padding: 2%;
	line-height: 120%;

}

#close{
  background-color: lightpink;
  border:none;
  border-radius: 6px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-align: left;

}


@media only screen and (max-width: 600px){
    #modal-content{
        width: 90%;
        height: 55%;
        
    }
}
